<a href="/">Voltar</a>

<h2>Adicione uma nova nota</h2>
<form action="/notas" method="post">
    <div class="mb-3">
        <label for="title" class="form-label"> Título:</label>
        <input type="text" class="form-control" id='titulo' name="titulo" placeholder="Digite um título..."> 
    </div>
    <div class="mb-3">
        <label for="descrição" class="form-label"> Descrição:</label>
        <textarea class="form-control" id='descricao' name="descricao" placeholder="Digite uma descrição..."> </textarea>
    </div>
    <button type="submit" class="btn btn-primary"> Criar Nota</button>
</form>